* {
	--responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
  }

@media (min-width: 1200px) {
h1, p, ul {
	font-size: calc(var(--max-font) * 1px);
}
}

@media (max-width: 420px) {
h1, p, ul {
	font-size: calc(var(--min-font) * 1px);
}
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

.active {
	display: block;
}
div{
	display: none;
}
header {
	background-color: #efefef;
	--max-font: 230;
	--min-font: 180;
	height: var(--responsive);
	position: fixed;
	width: calc(100% - 15px);
	filter: drop-shadow(0px 5px 5px #444);
	padding: 15px;
}
main {
	padding: 30px;
	--max-font: 280;
	--min-font: 230;
	padding-top: var(--responsive);
}

li {
	margin-bottom: 1em;
}
.flex{
	display: flex;
}
h1 {
	--max-font: 35;
	--min-font: 20;
	font-size: var(--responsive);
}
h2{
	margin-top: 3em;
	--max-font: 30;
	--min-font: 19;
	font-size: var(--responsive);
}
h4{
	margin-top: 1.3em;
	--max-font: 25;
	--min-font: 16;
	font-size: var(--responsive);
}

p, ul {
	--max-font: 17;
	--min-font: 13;
	font-size: var(--responsive);
  }

h1:before {
		content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='50pt' height='50pt' version='1.1' viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m13.609 0.61328c-0.86328 0.31641-1.5547 1.0352-1.8047 1.8789-0.058594 0.21875-0.085938 7.8672-0.066407 22.711l0.027344 22.379 0.24219 0.46094c0.25781 0.52734 0.66797 0.92188 1.2734 1.2383l0.40234 0.21875h21.945l0.50781-0.28906c0.56641-0.30469 0.875-0.63281 1.1992-1.2344l0.21094-0.39453 0.027344-13.348c0.019531-11.734 0.039062-13.344 0.16406-13.344 0.078125 0 0.23047-0.085937 0.33594-0.19141 0.16406-0.16406 0.19141-0.31641 0.19141-1.1602 0-0.89062-0.019531-0.97656-0.23047-1.168l-0.23047-0.19922 0.23047-0.18359c0.21094-0.16406 0.23047-0.23828 0.23047-1.082 0-0.99609-0.074219-1.2461-0.44141-1.3828-0.21875-0.085938-0.23047-0.12109-0.23047-1.0039 0-0.56641 0.039062-0.91016 0.097656-0.91016s0.21094-0.10547 0.33594-0.24219c0.21094-0.19922 0.23828-0.31641 0.23828-0.89063 0-0.56641-0.027344-0.69141-0.21875-0.86328-0.125-0.11328-0.26953-0.21094-0.33594-0.21094-0.078126 0-0.11719-1.1875-0.13672-4.4844-0.027344-4.3984-0.027344-4.4844-0.23828-4.8672-0.32422-0.60547-0.63281-0.92969-1.1992-1.2383l-0.50781-0.28516-10.828-0.019532c-8.9414-0.019531-10.895 0-11.191 0.10547zm22.031 1.4648c0.58594 0.42188 0.61328 0.56641 0.61328 3.7109v2.8359h-23.191v-2.8281c0-2.9883 0.027344-3.25 0.46094-3.6211 0.10547-0.097656 0.31641-0.21094 0.45703-0.26172 0.15625-0.046874 5.0234-0.074218 10.82-0.066406l10.543 0.019532zm0.61328 22.934v14.953h-23.191v-29.902h23.191zm-0.019531 19.332c-0.027344 2.875-0.035156 2.9609-0.23828 3.25-0.46875 0.65234 0.23828 0.61328-11.355 0.61328-9.7852 0-10.496-0.011719-10.801-0.17188-0.18359-0.085937-0.42188-0.28906-0.52734-0.43359-0.19141-0.25781-0.20312-0.41016-0.23047-3.2383l-0.03125-2.9609h23.215z'/%3E%3Cpath d='m21.398 4.8594c-0.23828 0.30469-0.19141 0.66016 0.11719 0.91016 0.42188 0.36328 1.0625 0.066407 1.0625-0.48047 0-0.67187-0.76562-0.94922-1.1797-0.42969z'/%3E%3Cpath d='m24.148 4.7734c-0.21875 0.23828-0.19922 0.74609 0.03125 0.97656 0.17187 0.17188 0.31641 0.19141 1.8203 0.19141 1.6094 0 1.6367 0 1.8672-0.24219 0.13672-0.12109 0.24219-0.29688 0.24219-0.38281 0-0.19141-0.18359-0.54688-0.32812-0.64062-0.058594-0.039062-0.86328-0.078125-1.793-0.078125-1.5117 0-1.7031 0.019532-1.8398 0.17578z'/%3E%3Cpath d='m23.047 15.523c-2.2109 0.30859-4.2734 1.8047-5.2031 3.7852-0.50781 1.0664-0.69141 2.0508-0.63281 3.3086 0.066406 1.5898 0.5 2.7305 1.457 3.9492 0.79688 0.99609 2.2148 1.8867 3.5938 2.25 0.56641 0.14453 2.168 0.20312 2.9609 0.10547 0.21094-0.027344 0.38672 0.22266 1.8047 2.6562 1.9258 3.3047 2 3.4102 2.5586 3.6875 0.64062 0.30859 1.5234 0.25 2.0898-0.14062 0.76562-0.54688 1.0508-1.6406 0.66016-2.4922-0.097657-0.21094-0.89063-1.6094-1.7656-3.1055l-1.5898-2.7227 0.41016-0.58594c0.92969-1.3008 1.3242-2.4922 1.3242-4.0352 0.007812-1.7148-0.56641-3.207-1.707-4.4453-1.582-1.7148-3.7539-2.5195-5.9609-2.2148zm2.3281 1.4883c1.7383 0.44922 3.2305 1.9062 3.7969 3.6875 0.30469 0.94141 0.28906 2.3203-0.027344 3.2305-0.32812 0.91016-0.63281 1.4297-1.2773 2.1289-0.28516 0.30469-0.52734 0.58203-0.52734 0.60156 0 0.03125 0.86328 1.5234 1.918 3.3359 1.0547 1.8125 1.918 3.3945 1.918 3.5195 0 0.47656-0.69141 0.78516-1.0742 0.47656-0.085937-0.054688-0.98828-1.543-2.0039-3.2773-1.0039-1.7422-1.8867-3.2109-1.9453-3.2773-0.078125-0.074219-0.26953-0.066406-0.77734 0.066406-3.4766 0.92188-6.8594-1.668-6.8516-5.25 0.011718-2.332 1.4961-4.3711 3.7383-5.1367 0.86328-0.29688 2.2031-0.33594 3.1133-0.10547z'/%3E%3Cpath d='m24.141 18.609c-0.20312 0.28906-0.19141 0.68359 0.019531 0.86328 0.085938 0.078125 0.42969 0.28906 0.76562 0.46094 0.64062 0.33594 1.1602 0.85156 1.5703 1.5625 0.23047 0.40234 0.30078 0.44922 0.59766 0.44922 0.37109 0 0.72656-0.29687 0.72656-0.59375 0-0.33594-0.5-1.168-1.0352-1.7227-0.34375-0.36719-0.76562-0.68359-1.1992-0.89453-0.78516-0.39062-1.2344-0.42969-1.4453-0.125z'/%3E%3Cpath d='m24.082 43.598c-1.332 0.69922-0.83203 2.6914 0.67969 2.6914 0.83594 0 1.4766-0.71094 1.4023-1.5234-0.10547-1.0352-1.1992-1.6484-2.082-1.168z'/%3E%3C/g%3E%3C/svg%3E%0A");
		padding: 0 0.5rem;
		height: 1rem;
	}
ul {
	list-style-type: none;
	}
li:before {
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.667' height='24' viewBox='0 0 14 18' fill='rgb(0%25,0%25,0%25)' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M5.266 0C3.535 0 1.227 1.688.648 3.375.07 4.5.07 5.063.07 6.188s.578 2.25 1.156 3.375 1.73 1.688 3.465 2.25h2.887s.578 0 1.73 2.25l2.313 3.375c.578.563 1.152 0 1.73 0 .578-.562 1.156-1.687.578-2.25 0 0-.578-1.687-1.73-2.812l-1.734-2.25.578-.562c.578-1.125 1.156-2.25 1.156-3.375 0-1.687-.578-2.812-1.734-3.937C8.734.563 7 0 5.266 0zm2.313 1.125c1.73.563 2.887 1.688 3.465 3.375v2.813c-.578.563-.578 1.125-1.156 1.688l-.578.563s.578 1.125 1.734 2.813 1.73 2.813 1.73 3.375-.574.563-1.152.563c0 0-1.156-1.125-1.734-2.812l-1.73-2.812H7.58C4.691 11.25 1.227 9 1.227 6.188c0-2.25 1.152-3.937 3.465-4.5.574 0 2.309-.562 2.887 0zm0 0zM6.422 2.813v.563s.578 0 .578.563c.578.563 1.156.563 1.156 1.125s0 .563.578.563.574 0 .574-.562-.574-1.125-1.152-1.687S7.578 2.813 7 2.813c-.578-.562-1.156-.562-1.156 0zm0 0zm0 0'/%3E%3C/svg%3E");
		padding: 0 0.5rem;
		height: 1rem;
	}	
body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
span{
	position: absolute;
    top: 10px;
    right: 10px;
}
span::after {
	content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18pt' height='18pt' version='1.1' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ca target='_blank' xlink:href='https://opensource.org/licenses/cpal_1.0' xlink:title='CAPL licence'%3E%3Cpath transform='matrix(.088911 0 0 .088911 34.553 77.61)' d='m-276.02-740.26c13.795-5.316 21.879-19.726 19.199-34.269-2.7239-14.586-15.421-25.13-30.227-25.13s-27.547 10.544-30.227 25.13c-2.68 14.542 5.36 28.953 19.199 34.269l-20.693 53.907c-39.804-15.289-63.09-56.807-55.269-98.72 7.7324-41.913 44.33-72.36 86.99-72.36 42.66 0 79.213 30.446 86.99 72.36 7.7764 41.913-15.465 83.431-55.269 98.72z' fill='%233da452' stroke='%23205328' stroke-linejoin='round' stroke-width='7.37'/%3E%3Cpath d='m8.1758 16.348v0.17188c-0.054687-0.050781-0.11328-0.089843-0.17969-0.11328-0.0625-0.023438-0.125-0.035156-0.19531-0.035156-0.13281 0-0.24219 0.042968-0.31641 0.125-0.066406 0.085937-0.10156 0.20312-0.10156 0.36328 0 0.15234 0.035157 0.26953 0.10156 0.35156 0.074219 0.085937 0.18359 0.125 0.31641 0.125 0.070313 0 0.13281-0.011719 0.19531-0.035157 0.066406-0.019531 0.125-0.058593 0.17969-0.11328v0.17188c-0.0625 0.039063-0.12109 0.066406-0.17969 0.089844-0.0625 0.015625-0.13281 0.023437-0.20312 0.023437-0.17578 0-0.31641-0.050781-0.42188-0.16016-0.10547-0.11328-0.16016-0.26172-0.16016-0.45312 0-0.19531 0.054687-0.34375 0.16016-0.45312 0.10547-0.11328 0.24609-0.17188 0.42188-0.17188 0.070312 0 0.14062 0.011719 0.20312 0.035156 0.058594 0.019531 0.11719 0.042969 0.17969 0.078125z'/%3E%3Cpath d='m8.8164 16.418-0.21484 0.58984h0.44141zm-0.089844-0.16016h0.18359l0.45312 1.1914h-0.16016l-0.11328-0.30469h-0.53125l-0.11328 0.30469h-0.17187z'/%3E%3Cpath d='m9.6953 16.395v0.44141h0.20703c0.074218 0 0.12891-0.015626 0.16797-0.054688 0.046876-0.039062 0.070313-0.09375 0.070313-0.17188 0-0.066406-0.023437-0.11719-0.070313-0.15625-0.039062-0.039063-0.09375-0.058594-0.16797-0.058594zm-0.15625-0.13672h0.36328c0.13672 0 0.23828 0.03125 0.30469 0.089844 0.066407 0.0625 0.10156 0.14844 0.10156 0.26172 0 0.12109-0.035156 0.21484-0.10156 0.27344-0.066406 0.0625-0.16797 0.089844-0.30469 0.089844h-0.20703v0.47656h-0.15625z'/%3E%3Cpath d='m10.523 16.258h0.16016v1.0547h0.57812v0.13672h-0.73828z'/%3E%3Cpath transform='scale(.090726)' d='m74.012 39.008v0' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10'/%3E%3C/a%3E%3C/svg%3E%0A");	padding: 0 0.5rem;
	height: 1rem;
}
a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: inherit;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}